.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modalContent {
  background-color: rgb(41, 41, 41);
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  width: 50%;
  text-align: left;
}
